{% extends "WTGalerieBundle::layout.html.twig" %}

{% block title %}
  Supprimer une galerie  - {{ parent() }}
{% endblock %}

{% block wtgalerie_body %}

  <h2>Suprimer une annonce</h2>

  <p>
    Etes-vous certain de vouloir supprimer la galerie "{{ gal.name }}" ?
  </p>
  {# On met l'id de l'annonce dans la route de l'action du formulaire #}

  <form action="{{ path('wt_galerie_delete', {'id': gal.id}) }}" method="post">
    <a href="{{ path('wt_galerie_view', {'id': gal.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

  {#{ include("WTGalerieBundle:Galerie:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>
	#}

 

{% endblock %}





