{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "WTGalerieBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block wtgalerie_body %}

  <h2>Liste des galeries</h2>

  <ul>
    {% for galerie in galeries %}
      <li>
        <a href="{{ path('wt_galerie_view', {'id': galerie.id}) }}">
          {{ galerie.name }}
        </a>
        
        crée le {{ galerie.creationdate|date('d/m/Y') }},  par {{ galerie.owner.username }}
        édité le {{ galerie.editiondate|date('d/m/Y') }}
        {% if galerie.creationdate == galerie.editiondate %}
          ,  Same date!!!!
        {% endif %}
      </li>
    {% else %}
      <li>Pas (encore !) de galerie ... (use fetures)</li>
    {% endfor %}
  </ul>
  

  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('wt_galerie_home', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}