{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "WTGalerieBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block wtgalerie_body %}

  <h2>Liste des galeries</h2>

  <ul>
    {% for galerie in galeries %}
      <li>
        <a href="{{ path('wt_galerie_view', {'id': galerie.id}) }}">
          {{ galerie.name }}
        </a>
        
        crée le {{ galerie.creationdate|date('d/m/Y') }},  par {{ galerie.owner.username }}
        édité le {{ galerie.editiondate|date('d/m/Y') }}
        {% if galerie.creationdate == galerie.editiondate %}
          ,  Same date!!!!
        {% endif %}
      </li>
    {% else %}
      <li>Pas (encore !) de galerie ... (use fetures)</li>
    {% endfor %}
  </ul>
  <p>vous etes sur la page {{page}}</p>
{% endblock %}